@import '~@blueprintjs/core/src/common/variables';


.z-login-btn.bp3-intent-primary {
  border-color: #00B3A4 !important;
  background-color: #00B3A4 !important;
}

.login-page__layout-root {

}

.login-page__positioner {
  align-items: center;
  display: flex;
  min-height: 100%;
  position: relative;
}

.login-page__positioner .z-header__logo {
  position: fixed;
  top: 30px;
  left: 24px;
  z-index: 2;

  width: 38px;
  font-size: 65px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  margin-bottom: 0;

  .z-header__logo--dot {
    font-size: 57px;
    color: #f2b824;
  }
}

.login-page__positioner .login-page__background {
  position: absolute;
  z-index: 0;
  left: 0;
  height: 100%;
  width: 629px;
  background-color: $turquoise4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-page__positioner form {
  z-index: 1;
}

.login-page__positioner .login-page__card {
  height: 358px;
  margin-left: 503px;
  width: 552px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-page__card .bp3-heading {
  margin-bottom: 28px;
  color: $turquoise2;
}

.login-page__card .bp3-form-group {
  margin-bottom: 31px;
}

.login-page__card .bp3-input-group {
  width: 300px;
  &.margin-bottom { margin-bottom: 26px; }
}

.login-page__card .bp3-button {
  width: 164px;
}

.login-page__image {
  height: 381px;
  margin-left: 30px;
}
