@import '~@blueprintjs/core/src/common/variables';

.bp3-navbar.z-header {
  padding-right: 83px;
  height: 70px;
  box-shadow:
          0 0 0 1px #ebedf8,
          0 0 0 #ebedf8,
          0 1px 1px #ebedf8;
}

.bp3-navbar-group.z-header__group {
  height: 100%;
}
