*,
*::before,
*::after {
  box-sizing: border-box;
}

#root,
html,
body {
  height: 100%;
}


#root,
html,
body,
.z-layout,
.z-layout__main,
.z-content {
  min-height: 100%;
}

@-moz-document url-prefix() {
  body {
    font-weight: normal !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
