@import '~normalize.css';
@import 'app';
@import 'override/module';
@import "~@blueprintjs/core/src/blueprint.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // TODO: check if this is really necessary
  //-moz-osx-font-smoothing: grayscale;
  //-webkit-font-smoothing: antialiased;
  //font-smoothing: antialiased;
  //font-weight: 400;
}

@-moz-document url-prefix() {
  body {
    font-weight: normal !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
